<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sitecore>
    <settings>
      <!--  Pipe separated list containing paths inside renderings folder. All renderings below path are excluded from nitronet. -->
      <setting name="NitroNet.Sitecore.General.RenderingExclusions" value=""/>
    </settings>
    </sitecore>
</configuration>