<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sitecore>
    <settings>
      <!--  Pipe separated list containing paths inside renderings folder. All renderings below these paths are excluded from NitroNet. -->
      <setting name="NitroNet.Sitecore.RenderingExclusions" value="/sitecore/layout/Renderings/Sample|/sitecore/layout/Renderings/System"/>
    </settings>
    </sitecore>
</configuration>