<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.buildPageDefinition>
        <processor type="Sitecore.Support.Mvc.Pipelines.Response.BuildPageDefinition.ProcessXmlBasedLayoutDefinition, Sitecore.Support.414987" patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.BuildPageDefinition.ProcessXmlBasedLayoutDefinition, Sitecore.Mvc']"/>
       </mvc.buildPageDefinition>

      <!-- Is added by MvcRenderingPipeline.config   
      <mvc.renderRendering>
        <processor type="Sitecore.Support.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Support.414987" patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']"/>
      </mvc.renderRendering>-->
    </pipelines>
  </sitecore>
</configuration>
